@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
  width: 100vw;
  height: 100vh;
}

main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 149, 255);
}

#tela {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  height: 600px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.30);
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#imagem {
  background: transparent url('../imagens/AdobeStock_142962879.jpeg') center center no-repeat;
  background-size: cover;
  height: 45%;
}

h2 {
  text-align: center;
  margin-top: 10px;
}

p {
  width: 95%;
  font-size: .9em;
  margin: 10px auto;
}

#email, #senha {
  background-color:rgb(0, 149, 255);
  width: 90%;
  margin: auto;
  border-radius: 8px;
  height: 40px;
}

#senha {
  margin-top: 5px;
}

label {
  display: none;
}

#pessoa-login {
  color: white;
  font-size: 1.7em;
  padding: 6px;
  border-radius: 8px;
}

#chave-senha {
  color: white;
  font-size: 1.7em;
  padding: 6px;
  border-radius: 8px;
}

input[type='email'], input[type='password'] {
  border: none;
  height: 35px;
  transform: translateY(-8px);
  width: calc(100% - 50px);
  border-radius: 5px;
  background-color: rgb(214, 214, 214);
  padding: 10px;
  box-sizing: border-box;
}

input[type='email']:focus-within {
  background-color: white;
  outline:rgb(1, 116, 198);
}

input[type='password']:focus-within {
  background-color: white;
  outline:rgb(1, 116, 198);
}

input[type='submit'] {
  display: block;
  margin: auto;
  margin-top: 10px;
  width: 90%;
  height: 40px;
  border: none;
  background-color: rgb(0, 149, 255);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: rgb(0, 84, 144);
  transition-duration: .3s;
}

a {
  display: block;
  border: 1px solid rgb(0, 149, 255);
  width: 90%;
  margin: auto;
  margin-top: 5px;
  border-radius: 8px;
  height: 40px;
  text-decoration: none;
  text-align: center;
  padding-top: 5px;
  box-sizing: border-box;
  color: rgb(1, 116, 198);
}

#esqueci-senha {
  font-size: .8em;
}